[submodule "tools/asm-differ"]
	path = tools/asm-differ
	url = https://github.com/simonlindholm/asm-differ.git
[submodule "tools/decomp-permuter"]
	path = tools/decomp-permuter
	url = https://github.com/simonlindholm/decomp-permuter.git
[submodule "tools/splat"]
	path = tools/splat
	url = https://github.com/ethteck/splat.git
[submodule "tools/fsblob"]
	path = tools/fsblob
	url = https://github.com/Jhynjhiruu/fsblob
[submodule "tools/pigment"]
	path = tools/pigment
	url = https://github.com/decompals/pigment.git
